.page-header {
  text-align: center;
  padding: 4rem 0;
  background-color: var(--primary-color, #f8f9fa); /* Fundo suave */
  border-bottom: 1px solid #e0e0e0;
}

.page-header h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--secondary-color, #343a40);
}

.page-content {
  max-width: 800px; /* Define uma largura máxima para o conteúdo */
  margin: 4rem auto; /* Centraliza o conteúdo com margens automáticas */
  padding: 0 2rem;
  line-height: 1.8;
  color: var(--text-light-color, #333);
}

.page-content h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color, #343a40);
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--primary-color, #007bff);
  padding-bottom: 0.5rem;
}

.page-content p {
  margin-bottom: 1.5rem;
}

.page-content ul {
  list-style-position: inside;
  padding-left: 1rem;
}

.page-content li {
  margin-bottom: 1rem;
}
